
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$brand-primary: #8cc587;
$brand-secondary: #53473c;

$theme-colors: (
  "primary": #8cc587,
  "secondary": #53473c
);
