// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

@font-face {
    font-family: 'Ubuntu Titling Rg';
    src: url('/webfonts/UbuntuTitling-Bold.eot');
    src: url('/webfonts/UbuntuTitling-Bold.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/UbuntuTitling-Bold.woff2') format('woff2'),
        url('/webfonts/UbuntuTitling-Bold.woff') format('woff'),
        url('/webfonts/UbuntuTitling-Bold.svg#UbuntuTitling-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Override Theme
body, p {
    font-family: 'Roboto Slab';
}

.header-style-7 {
    background: #fff !important;
    font-family: 'Ubuntu Titling Rg';
}

.header-style-7 .navbar-nav > li > a:after {
    background: $brand-secondary;
}

.brand-font, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Titling Rg' !important;
}

.brand-secondary {
    color: $brand-secondary !important;
}

.bg-secondary {
    background: $brand-secondary !important;
}

.div-round-small {
    border-radius: 100%;
    display: block;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    font-size: 32px;
    line-height: 75px;
}

.section {
    position: relative;
}

.wave-padding {
    padding-bottom: 150px;
}

.bg-white {
    background: white;
}

#portfolio:after {
    content: "";
    background: url(/img/wave.png) scroll bottom left repeat-x;
    position: absolute;
    width: 100%;
    height: 182px;
    float: left;
    left: 0;
    bottom: 0;
}
