// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Override Theme
.header-style-7 {
    color: #fff !important;
}

.div-round-small {
    border-radius: 100%;
    display: block;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    font-size: 32px;
    line-height: 75px;
}
